<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <span class="title">Schiphol Group Calculator - G Rekening Calculator</span>
    </div>
  </header>

  <div class="content-container content__font__color">
    <div class="content-area">
      <!-- ALERT MESSAGE COPIED -->
      <!-------------------------->
      <!-- <div class="alert alert-success" *ngIf="isCopied == true" [clrAlertClosable]="true">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">Totaal is gekopieerd!</span>
          </div>
        </div>
      </div>-->

      <clr-alert [clrAlertClosable]="true" *ngIf="isCopied == true" class="alert-succes" [clrAlertType]="'alert-success'">
        <div clr-alert-item class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Totaal is gekopieerd!</span>
        </div>
      </clr-alert>
           <!-- 2nd WERK -- -->
      <div class="clr-row">
        <div class="clr-col">
          <span>
            <form clrForm clrLayout="vertical" [(ngModel)]="grekeningForm" class="form-group" #myForm="ngForm">
              <div class="form-control">
              <clr-input-container>
                <label>Subtotaal</label>
                <!-- REGEX : (\d*\.\d)?\d+ IPV ^[0-9]{1,12}$ -->
                <input clrInput placeholder="Voer subtotaal in!" name="controlSubtotal" [(ngModel)]="subtotal" [ngModelOptions]="{standalone: true}" required pattern="(\d*\.\d)?\d+"/>
                <clr-control-error *clrIfError="'required'" [(ngModel)]="errorSubtotal"> {{ errorSubtotal }}</clr-control-error>
              </clr-input-container>
              <label for="taxtype_1">BTW Type</label>
                <div class="select">
                  <select id="taxtype_1" [(ngModel)]="selectedTaxType" (ngModelChange)="selected($event)" (change)="selected($event)" name="controlTaxType">
                    <option *ngFor="let taxC of taxCodes" data-value=" {{ taxC.taxvalue}}" [value]="taxC.taxvalue">{{ taxC.name}}</option>
                  </select>
                </div>
              <clr-input-container>
                <label>Percentage:</label>
                  <input clrInput placeholder="Voer een geldige waarde in!" name="userinput" [(ngModel)]="userinput"  [ngModelOptions]="{standalone: true}" max="100" min="1" maxlength="3" pattern="^[0-9]{1,3}$" required #inputPercentage />
                  <clr-control-error *clrIfError="'required'">{{ errorSubtotal}}</clr-control-error>
               <!-- <clr-control-error *ngIf="userinput.value > 100">Voer een getal in dat kleiner of gelijk is aan 100.</clr-control-error>
                <!--  <clr-control-error *ngIf="userinput.invalid && (userinput.dirty || userinput.touched)">Voer een geldig getal in</clr-control-error>-->
                <!--<clr-control-error *ngIf="userinput.value > 100"> Voer een getal in kleiner dan 100</clr-control-error> -->
               </clr-input-container>
              <button class="btn btn-primary btn-custom" (click)="calculate()">Calculate</button>
              <button class="btn btn-secondary btn-clear" (click)="myForm.reset();clear()">Clear</button>
              </div>
            </form>
          </span>
        <div class="clr-col">
          <span>
            <form clrForm>
              <clr-input-container>
                <label>Totaal</label>
                <input clrInput placeholder="" name="name" [ngModel]="gtotal | number: '1.2-2'" (ngModelChange)="gtotal = $event" readonly #inputTarget />
              </clr-input-container>
              <clr-icon shape="copy" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied = true"></clr-icon>
            </form>
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
